body {
  background-color:#000000;
  background-image:none;
  color:#ffffff;
}

a {
  color:#ffffff;
  text-decoration:underline;
  text-decoration-thickness:1.5px;
}

@media (hover:hover) {
  a:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:2px;
    color:#b1a0d2;
  }
}

#header-image {
  filter:invert();
}

@media (hover:hover) {
  #header-image:hover {
    filter:invert(0.5);
  }
}

@media (hover:hover) {
  nav ul li:hover {
    filter:invert(0.5);
    text-decoration:none;
  }

  nav ul li a:hover {
    color:#ffffff;
    text-decoration:none;
  }
}

@media (hover:hover) {
  .button:not(.current-link):hover {
    color:#ffffff;
    filter:invert(0.5);
  }
  .button a:hover {
    color:#ffffff;
  }
}

footer ul li {
  filter:invert();
}

@media (hover:hover) {
  footer ul li:hover {
    color:#ffffff;
    filter:invert(0.5);
  }
}
