html {
  height: 100%;
  padding: env(safe-area-inset); /* for iphone notch */
}

body {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background-image: radial-gradient(#d2e7e3, #d49db8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.column-container {
  width: 720px;
  margin: 0;
}

@media only screen and (max-width: 784px) {
  .container {
    width: auto;
    margin: 0 32px;
  }
  .column-container {
    width: 100%;
  }
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

main {
  clear: both;
  padding: 30px 0px;
  width: 100%;
}

.graphic {
  display: block;
  margin: 2em auto;
  clear: both;
}

.bottom-nav {
  margin-top: 2em;
  font-size: 1.2em;
}

.bottom-nav-left {
  float: left;
}

.bottom-nav-right {
  float: right;
}

/* HEADER */

header {
  display: block;
  padding: 20px 0px 50px;
}

#header-image {
  width: 320px;
  height: 40px;
  margin-right: 20px;
}

#header-image:hover {
  filter: invert();
}

h1 {
  display: block;
  float: left;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 1em;
  letter-spacing: .02em;
}

/* NAVIGATION */

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

nav ul li {
  float: left;
  font-size: 1em;
  border: solid 1.5px;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 6px 16px 6px 0px;
}

nav ul li a{
  text-decoration:none;
}

nav ul li:hover {
  filter: invert();
}

/* FOOTER */

footer {
  clear: both;
  margin-top: 1em;
  padding: 10px 0px;
  font-style: italic;
  font-size: 0.8em;
}

footer ul {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

footer ul li {
  float: left;
  padding: 3px 8px 3px 0px;
  margin: 6px 8px 6px 0px;
}

footer ul li a{
  text-decoration:none;
}

footer ul li img {
  height: 30px;
  width: 30px;
}

footer ul li:hover {
  filter: invert();
}

.license-icons {
  margin-top:5px;
}

.license-icons img {
  height: 20px;
  width: 20px;
}

/* GALLERY */

.gallery {
  margin-top: 30px;
}

.gallery-item img {
  border: solid 1.5px;
  border-radius: 5px;
}

@media only screen and (min-width: 785px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 35px;
  }

  .gallery-item {
    width: 320px;
  }

  .gallery-item img {
    width: 320px;
    height: 240px;
  }
}

@media only screen and (max-width: 784px) {
  .gallery-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .gallery-item img {
    width: 100%;
    width: calc(100% - 3px);
    height: auto;
  }
}

.gallery-item a {
  text-decoration: none;
}

.gallery-item a:hover {
  filter: invert();
}

.gallery-item h2 {
  text-align:center;
  margin: 0;
  font-size:1em;
  text-transform:none;
}

.gallery-item p {
  text-align:center;
  margin: .2em 0 .5em 0;
  font-size:0.8em;
}

.gallery-item .tag {
  background:#000000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 3px 6px;
}

.gallery-item .title {
  font-style: italic;
}

/* NEWS */

.news-archive {
  font-style:italic;
}

.news-item {
  margin-top: 2em;
}

.news-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 785px) {
  .news-item img {
    max-width: 720px;
    max-height: 720px;
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 784px) {
  .news-item img {
    width: 100%;
    height: auto;
  }
}

.news-item h2 {
  text-transform: none;
  letter-spacing: 0em;
  font-size: 1.2em;
  padding: 0.5rem;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}
