html {
  height: 100%;
  padding: env(safe-area-inset); /* for iphone notch */
}

body {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background-image: radial-gradient(#d2e7e3, #d49db8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.column-container {
  width: 720px;
  margin: 0;
}

@media screen and (max-width: 784px) {
  .container {
    width: auto;
    margin: 0 32px;
  }
  .column-container {
    width: auto;
  }
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

main {
  clear: both;
  padding: 30px 0px;
  width: 100%;
}

.graphic {
  display: block;
  margin: 2em auto;
  clear: both;
}

/* HEADER */

header {
  display: block;
  padding: 20px 0px 50px;
}

#header-image {
  width: 320px;
  height: 40px;
  margin-right: 20px;
}

#header-image:hover {
  filter: invert();
}

h1 {
  display: block;
  float: left;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 1em;
  letter-spacing: .02em;
}

/* NAVIGATION */

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

nav ul li {
  float: left;
  font-size: 1em;
  border: solid 1.5px;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 6px 16px 6px 0px;
}

nav ul li a{
  text-decoration:none;
}

nav ul li:hover {
  filter: invert();
}

/* FOOTER */

footer {
  clear: both;
  padding: 10px 0px;
  font-style: italic;
  font-size: 0.8em;
}

footer ul {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

footer ul li {
  float: left;
  padding: 3px 8px 3px 0px;
  margin: 6px 8px 6px 0px;
}

footer ul li a{
  text-decoration:none;
}

footer ul li img {
  height: 30px;
  width: 30px;
}

footer ul li:hover {
  filter: invert();
}

.license-icons {
  margin-top:5px;
}

.license-icons img {
  height: 20px;
  width: 20px;
}

/* GALLERY */

.gallery {
  margin-top: 30px;
  margin-right: -30px;
}

.gallery-item {
  width: 320px;
  height:fit-content;
  float: left;
  margin-right:30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 784px) {
  .gallery {
    margin-right: 0;
  }
  .gallery-item {
    width: auto;
    margin-right: 0;
  }
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border: solid 1.5px;
  border-radius: 5px;
}

.gallery-item h2 {
  text-align:center;
  margin: 0;
  font-size:1em;
}

.gallery-item p {
  text-align:center;
  margin: .2em 0 .5em 0;
  font-size:small;
}

.tag {
  background:#000000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 3px 6px;
}