html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  background-color:#dce6da;
  background-image: linear-gradient(#dce6da, #e39a9c);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.container {
  width: 720px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin: 0 32px;
  }
}