html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  -webkit-text-size-adjust:100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  position:absolute;
  min-height:100%;
  width:100%;
  top:0;
  margin:0;
  background-image:radial-gradient(#d9e7eb, #e6d5de);
  background-attachment:fixed;
  background-repeat:no-repeat;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  line-height:1.4;
  letter-spacing:-0.02em;
}

.container {
  width:90%;
  margin:0 auto;
}

.column-container {
  width:720px;
  margin:0;
}

@media only screen and (max-width:784px) {
  .container {
    width:auto;
    margin:0 32px;
  }
  .column-container {
    width:100%;
  }
}

main {
  clear:both;
  padding:30px 0px;
  width:100%;
}

.graphic {
  display:block;
  margin:2em 0;
  clear:both;
  max-width:300px;
}

img {
  max-width:100%;
}

li {
  margin-bottom:1em;
}

/* TEXT */

h2 {
  text-transform:uppercase;
  font-size:1.3em;
  margin-bottom:1em;
  letter-spacing:.02em;
}

.piece-title {
  text-transform:none;
  font-style:italic;
}

a {
  color:#000000;
  text-decoration:underline;
  text-decoration-thickness:1.5px;
}

@media (hover: hover) {
  a:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:2px;
  }
}

/* BUTTON NAV ("next" and "previous" buttons) */

.button-nav {
  margin-top:3em;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  gap:1em;
}

.button {
  display:inline-block;
  border:solid 1.5px;
  border-radius:5px;
  width:auto;
  margin-bottom:5px;
}

@media (hover: hover) {
  .button:hover {
    filter:invert();
  }
}

.button a {
  padding:3px 8px;
  text-decoration:none;
}

/* HEADER */

header {
  display:block;
  padding:20px 0px 50px;
}

#header-image {
  width:320px;
  max-width:100%;
  height:40px;
  margin-right:20px;
}

@media (hover: hover) {
  #header-image:hover {
    filter:invert();
  }
}

h1 {
  display:block;
  float:left;
  margin:0;
}

/* NAVIGATION */

nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  float:left;
}

nav ul li {
  float:left;
  font-size:1em;
  border:solid 1.5px;
  border-radius:5px;
  margin:6px 16px 6px 0px;
}

nav ul li a{
  display:block;
  padding:3px 8px;
  text-decoration:none;
}

@media (hover: hover) {
  nav ul li:hover {
    filter:invert();
    text-decoration:none;
  }

  nav ul li a:hover {
    text-decoration:none;
  }
}

/* FOOTER */

footer {
  clear:both;
  margin-top:1em;
  padding:10px 0px;
  font-style:italic;
  font-size:0.8em;
}

footer ul {
  float:left;
  list-style-type:none;
  padding:0;
  margin:0;
  float:left;
}

footer ul li {
  float:left;
  padding:3px 8px 3px 0px;
  margin:6px 8px 6px 0px;
}

footer ul li a{
  text-decoration:none;
}

footer ul li img {
  height:30px;
  width:30px;
}

@media (hover: hover) {
  footer ul li:hover {
    filter:invert();
  }
}

.license-icons {
  margin-top:5px;
}

.license-icons img {
  height:20px;
  width:20px;
}

/* GALLERY */

.gallery {
  margin-top:35px;
}

.gallery-item img {
  border:solid 1.5px;
  border-radius:5px;
}

@media only screen and (min-width:785px) {
  .gallery {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    gap:35px;
  }

  .gallery-item {
    width:320px;
  }

  .gallery-item img {
    width:320px;
    height:240px;
  }
}

@media only screen and (max-width:784px) {
  .gallery-item {
    width:100%;
    margin-bottom:35px;
  }

  .gallery-item img {
    width:100%;
    width:calc(100% - 3px);
    height:auto;
  }
}

.gallery-item a {
  text-decoration:none;
}

@media (hover: hover) {
  .gallery-item a:hover {
    filter:invert();
  }
}

.gallery-item h2 {
  text-align:center;
  margin:0;
  font-size:1em;
  text-transform:none;
}

.gallery-item p {
  text-align:center;
  margin:.2em 0 .5em 0;
  font-size:0.8em;
}

.gallery-item .tag {
  background:#000000;
  border-radius:5px;
  color:#FFFFFF;
  padding:3px 6px;
}

.gallery-item .title {
  font-style:italic;
}

/* NEWS */

.news-archive {
  font-style:italic;
}

.news-item {
  margin-top:3em;
  margin-bottom:4em;
}

.news-item img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@media only screen and (min-width:785px) {
  .news-item img {
    max-width:720px;
    max-height:720px;
    height:auto;
    width:auto;
  }
}

@media only screen and (max-width:784px) {
  .news-item img {
    width:100%;
    height:auto;
  }
}

.news-item h2 {
  text-transform:none;
  letter-spacing:0em;
  font-size:1.2em;
  padding:0.5rem;
  border-top:2px dotted;
  border-bottom:2px dotted;
}

/* VIDEOS */

.video-container {
  max-width:100%;
  height:auto;
  margin-bottom:1.5em;
}

video {
  max-width:100%;
  height:auto;
  border-radius:5px;
}

.video-caption {
  margin-top:0.2em;
  margin-bottom:2em;
  font-style:italic;
}

.video-caption a:after {
  content:'↗';
}

/* ABOUT PAGE */

.infobox {
  margin-top:1em;
  line-height:1.6;
}

.infobox ul {
  list-style-type:none;
  padding:0;
  margin:5px 0 10px 0;
}

.infobox ul li {
  margin-bottom:3px;
}

.infobox ul li a {
  text-decoration:none;
}

.infobox img {
  border:solid 1.5px;
  border-radius:5px;
}

.infobox-list-title {
  text-transform:uppercase;
  font-weight:bold;
}

.infobox-list-title:before {
  content:' ';
  clear:right;
  display:block;
}

@media only screen and (min-width:785px) {
  .about {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:35px;
  }

  .infobox {
    width:280px;
    flex-shrink:0;
  }

  .infobox img {
    width:280px;
    height:210px;
  }

  .text-column {
    max-width:720px;
    flex-shrink:1;
  }

}

@media only screen and (max-width:784px) {
  .infobox {
    width:100%;
  }

  .infobox img {
    width:100%;
    height:auto;
  }

  .text-column {
    margin-top:2em;
  }

  .infobox ul {
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    gap:0.5em;
  }
}

/* AUDIO/ALBUMS */

.album {
  margin:0;
}

.album-lower {
  width:100%;
  margin:0;
  border:solid 1.5px;
  border-top:none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.album h2 {
  font-style:italic;
  font-size:1em;
  margin:0px;
  padding:10px 16px 0px;
}

.album p {
  font-size:0.85em;
  margin:0;
  padding:6px 16px 4px;
}

.album img {
  aspect-ratio:1;
  width:100%;
  margin:0;
  margin-bottom:-6px;
  border:solid 1.5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

@media only screen and (min-width:785px) {
  .album {
    width:420px;
    margin-bottom:1em;
  }
}

@media only screen and (max-width:784px) {
  .album {
    width:100%;
    width:calc(100% - 3px);
    margin-bottom:2em;
  }
}

.album audio {
  width:100%;
  width:calc(100% - 32px);
  height:40px;
  padding:4px 16px 8px;
}

.album-caption {
  font-style:italic;
}

.album-caption a:after {
  content:'↗';
}

/* FORMS */

form {
  max-width:450px;
  margin-top:2em;
}

form label {
  display:block;
}

form input {
  width:100%;
  height:2em;
  border:1.5px solid;
  border-radius:5px;
  margin:1em 0;
  font-size:1em;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  display:block;
}

form input[type=checkbox] {
  margin:0 0 2em;
  width:1.2em;
  height:1.2em;
  display:inline-block;
}

form input:focus {
  border:1.5px dotted;
}

form textarea {
  width:100%;
  height:8em;
  resize:none;
  border:1.5px solid;
  border-radius:5px;
  margin:1em 0;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  font-size:1em;
}

form textarea:focus {
  border:1.5px dotted;
}

form button {
  border:1.5px solid #000;
  border-radius:5px;
  padding:5px 10px;
  font-size:1em;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  color:#000;
  background:none transparent;
  cursor:pointer;
}

@media (hover: hover) {
  form button:hover {
    filter:invert();
  }
}

:focus-visible {
  outline:none;
}

/* MARQUEE */

.marquee {
  display:flex;
  overflow:hidden;
  user-select:none;
  height:4.2em;
}

.marquee-content {
  flex-shrink:0;
  display:flex;
  width:100%;
  justify-content:space-around;
  list-style:none;
  gap:30px;
  animation:scroll 15s linear infinite;
  margin:0;
  padding:0 0 0 30px;
  flex-wrap: wrap;
}

.marquee-content li {
  margin:0;
  font-style:italic;
}

@-webkit-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@-moz-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@-ms-keyframes scroll {
  from {
    -ms-transform:translateX(-100%);
  }
  to {
    -ms-transform:translateX(-100%);
  }
}

@-o-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}