h2 {
  font-size:1em;
}

h2 img.centered {
  margin-top:1em;
}

@media only screen and (max-width:500px) {
  h2 img.centered {
    margin-top:0;
  }
}

h3 {
  margin-top:4em;
  text-transform:uppercase;
}

h4 {
  margin-bottom:0.3em;
}

p {
  line-height:1.6em;
  margin-bottom:2em;
}

.subtitle {
  font-weight:normal;
  font-size:1.3em;
  line-height:1.6em;
  text-transform:none;
  text-align:center;
  letter-spacing:0.0em;
  margin:0 0 2em;
  font-style:italic;
}

.mfa-works {
  list-style-type:none;
  padding:0;
  margin-bottom:2em;
  line-height: 1.6em;
  margin-left:4ch;
}

.mfa-works li {
  margin-bottom:0.3em;
}

.bg {
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  opacity:0.5;
  background-image:url("https://s3.amazonaws.com/palomakop.tv/mfa/refraction_projection.jpg");
  background-size:cover;
}