canvas {
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  opacity:0.5;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

h3 {
  margin-top:4em;
  text-transform:uppercase;
}

h4 {
  margin-bottom:0.3em;
}

p {
  line-height:1.6em;
  margin-bottom:2em;
}

.subtitle {
  font-weight:normal;
  font-size:1.3em;
  line-height:1.6em;
  text-transform:none;
  text-align:center;
  letter-spacing:0.0em;
  margin:0 0 2em;
  font-style:italic;
}

.mfa-works {
  list-style-type:none;
  padding:0;
  margin-bottom:2em;
  line-height: 1.6em;
  margin-left:4ch;
}

.mfa-works li {
  margin-bottom:0.3em;
}
