body {
  text-align:center;
}

.mobile-column-container {
  width:400px;
  margin:0 auto;
}

@media only screen and (max-width:464px) {
  .mobile-column-container {
    width:100%;
  }
}

.bg {
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  opacity:1;
  background-image:url("https://s3.amazonaws.com/palomakop.tv/now/gradient.jpg");
  background-size:cover;
  background-position: center; 
}

header {
  padding:20px 0 30px;
}

main {
  padding:0 0 30px;
}

.sigil {
  width:50px;
  height:50px;
  display:block;
  margin:1em auto;
}

.tagline {
  display:block;
  margin:16px auto;
  max-width:32ch;
}

.link-caption {
  font-size:0.8em;
  font-style:italic;
}

h1 {
  display:block;
  float:none;
  margin:0;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:1.5em;
}

h2 {
  font-size:1.2em;
  margin-top:2em;
}

h2 .emoji {
  font-size:1.5em;
}

p {
  margin:1.75em 0;
}

a.now-button {
  width:calc(100%-3px);
  display:block;
  border:solid 1.5px;
  border-radius:10px;
  margin-bottom:5px;
  padding:0.5em 1.5ch;
  margin:0 0 0.75em;
  text-decoration:none;
  background-color:#f1f0e9;
}

.platforms {
  display:grid;
  grid-template-columns:1fr 1fr;
  column-gap:0.75em;
}

@media only screen and (max-width:315px) {
  .platforms {
    grid-template-columns:1fr;
  }
}

.platforms a.now-button {
  min-width:9ch;
  justify-self:stretch;
}

a.now-button .caption {
  font-size:0.8em;
  font-style:italic;
}

@media (hover:hover) {
  a.now-button:not(.current-link):hover {
    color:#000000;
    background-color:#36541a;
    filter:invert();
  }
}